@{

    ViewData["Title"] = "Pranzo";
    MenuViewModel ViewModel = (MenuViewModel)Model;
    ViewData["DateSelected"] = ViewModel.Date.ToString("dd/MM/yyyy");

}

@using System.Net
@using prenotazione_postazioni_libs.Models;
@using prenotazione_postazioni_libs.Dto;
@using prenotazione_postazioni_mvc.HttpServices;
@using Newtonsoft.Json;
@inject MenuChoicesHttpService _menuChoicesHttpService;
@inject UserHttpService _userHttpService;

@{
    HttpResponseMessage checkExists = await _menuChoicesHttpService.GetByUserAndIdMenu(1, 1);
    HttpStatusCode code = checkExists.StatusCode;
    if (code == HttpStatusCode.OK)
    {
        MenuChoices menuChoice = await checkExists.Content.ReadFromJsonAsync<MenuChoices>();
        if (menuChoice != null) ViewModel.MenuChoices = menuChoice;
        else ViewModel.MenuChoices = null;
    }

    User? LoggedUser = new User(
                "Andrea",
                "Redegalli",
                "redegalli03@gmail.com",
                1
            );

}



<main class="d-flex justify-content-around">
    <div class="container text-center mt-5">
        @{
            Task<HttpResponseMessage> getAllByMenu = _menuChoicesHttpService.GetByIdMenu(1);
            getAllByMenu.Wait();

            List<MenuChoices>? menuChoices = null;
            User? user = null;

            if (getAllByMenu.Result != null && getAllByMenu.Result.StatusCode == HttpStatusCode.OK)
            {
                menuChoices = await getAllByMenu.Result.Content.ReadFromJsonAsync<List<MenuChoices>?>();
                for (int i = 0; i < menuChoices.Count; i++)
                {
                    MenuChoices mc = menuChoices[i];
                    Task<HttpResponseMessage> getUserById = _userHttpService.GetById(mc.IdUser);
                    getUserById.Wait();

                    user = await getUserById.Result.Content.ReadFromJsonAsync<User?>();

                    <div class="list-group-item my-auto">
                        <div style="clear: both; display: flex; align-items: center;">
                            <div style="float: left">
                                <img src="~/img/user_icon.png" alt="@mc.IdUser" style="width: 3vw; height: auto">
                            </div>
                            <div style="float: left; margin-left: 1vw;">
                                <h4 class="list-group-item-heading">@user.Name @user.Surname</h4>
                                <p class="list-group-item-text">@mc.Choice</p>
                            </div>
                        </div>
                    </div>

                }
            }
        }
        <div class="row">
            <div class="col-sm-8">
                <img style="width: 55%"
                     src=@ViewModel.GetImage()
                     class="img-thumbnail bd-darkorange"
                     alt="Menu" />
            </div>
            <v class="col-sm-4">
                <label for="myTextarea">La tua scelta</label>
                @{
                    if (ViewModel.Menu != null)
                    {
                        <textarea class="form-control overflow-hidden bd-darkorange"
                                  style="height:5rem"
                                  placeholder="Scrivi qui"
                                  id="myTextarea"
                                  maxlength="64">
                            @ViewModel.GetMenuChoice()
                                                                                          </textarea>
                        <button class="btn btn-primary bg-darkorange bd-darkorange mt-4" id="invia">
                            Invia
                        </button>
                        <script>
                            $("#invia").on("click", function () {
                                var choice = $("#myTextarea").val().trim();
                                var idMenu = @ViewModel.Menu.Id;
                                var idUser = @ViewModel._userHttpService.GetById(LoggedUser.Id);
                                $.ajax({
                                    type: "POST",
                                    url: "Menu/addChoice",
                                    data: { "choice": choice, "idUser": , "idMenu": idMenu },
                                })
                            })
                        </script>
                    }
                    else
                    {
                        <textarea class="form-control overflow-hidden bd-darkorange" style="height:5rem" placeholder="Scrivi qui" id="myTextarea"
                                  maxlength="64" ></textarea>
                        <button class="btn btn-primary bg-darkorange bd-darkorange mt-4" id="invia">
                            Invia
                        </button>
                    }
                }
                <p id="risposta"></p>

        </div>
       
    </div>
</main>


