@{

    ViewData["Title"] = "Pranzo";
    MenuViewModel ViewModel = (MenuViewModel)Model;
    ViewData["DateSelected"] = ViewModel.Date.ToString("dd/MM/yyyy");

}

@using System.Net
@using prenotazione_postazioni_libs.Models;
@using prenotazione_postazioni_libs.Dto;
@using prenotazione_postazioni_mvc.HttpServices;
@using Newtonsoft.Json;
@inject MenuChoicesHttpService _menuChoicesHttpService;
@inject UserHttpService _userHttpService;

@{
    User? LoggedUser = new User(1, "Andrea", "Redegalli", "redegalli03@gmail.com", 1);
    HttpResponseMessage checkExists = await _menuChoicesHttpService.GetByUserAndIdMenu(1, LoggedUser.Id);
    HttpStatusCode code = checkExists.StatusCode;
    if (code == HttpStatusCode.OK)
    {
        MenuChoices menuChoice = await checkExists.Content.ReadFromJsonAsync<MenuChoices>();
        if (menuChoice != null)
        {
            ViewModel.MenuChoices = menuChoice;
            Task<HttpResponseMessage> delete = ViewModel.Delete(1, LoggedUser.Id);
            delete.Wait();
            
        }
        else ViewModel.MenuChoices = null;
    }
}


<style>
    .user-table-col {
        width: 200px; /* Imposta la larghezza desiderata */
    }

    .user-table-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; /* Aggiunge uno spazio tra le tabelle degli utenti */
    }

    .user-table-scroll {
        max-height: 400px; /* Imposta l'altezza massima desiderata */
        overflow-y: auto;
    }

    .user-table-item {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #f8f9fa;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

        .user-table-item img {
            width: 3vw;
            height: auto;
            margin-right: 10px;
            object-fit: contain; /* Aggiunto per evitare il taglio dell'immagine */
        }

        .user-table-item h4 {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
        }

        .user-table-item p {
            margin: 0;
            font-size: 14px;
        }

    .menu-image {
        width: 70%; /* Imposta la larghezza al 70% per renderla leggermente più grande */
        max-height: 400px;
        object-fit: contain;
        border-radius: 5px;
        margin: 20px auto;
    }

    .btn-invia {
        background-color: #f57c00;
        border-color: #f57c00;
    }

    #risposta {
        color: #f57c00;
        font-weight: bold;
        margin-top: 10px;
    }

    .choice-input {
        height: 5rem;
        font-size: 16px;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        background-color: transparent;
        color: #495057;
    }
</style>

<main class="d-flex justify-content-around">
    <div class="container text-center mt-5">

        <div class="row">
            <div class="col-sm-4">
                <div class="user-table-container user-table-scroll">
                    <!-- Codice per la tabella degli utenti -->
                    @{
                        Task<HttpResponseMessage> getAllByMenu = _menuChoicesHttpService.GetByIdMenu(1);
                        getAllByMenu.Wait();

                        List<MenuChoices>? menuChoices = null;
                        User? user = null;

                        if (getAllByMenu.Result != null && getAllByMenu.Result.StatusCode == HttpStatusCode.OK)
                        {
                            menuChoices = await getAllByMenu.Result.Content.ReadFromJsonAsync<List<MenuChoices>?>();
                            for (int i = 0; i < menuChoices.Count; i++)
                            {
                                MenuChoices mc = menuChoices[i];
                                Task<HttpResponseMessage> getUserById = _userHttpService.GetById(mc.IdUser);
                                getUserById.Wait();

                                user = await getUserById.Result.Content.ReadFromJsonAsync<User?>();

                                <div class="user-table-item">
                                    <img src="img/user_icon.png" alt="mc.IdUser">
                                    <div class="user-table-col">
                                        <h4>@user.Name @user.Surname</h4>
                                        <p>@mc.Choice</p>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
            <div class="col-sm-8">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <img class="menu-image" src="@ViewModel.GetImage()" alt="Menu" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <label for="myTextarea">La tua scelta</label>
                @{
                    if (ViewModel.Menu != null)
                    {
                        <input type="text" class="form-control overflow-hidden bd-darkorange choice-input"
                               placeholder="Inserire la tua scelta" id="myTextarea" maxlength="64">
                        <button class="btn btn-primary bg-darkorange bd-darkorange btn-invia mt-4" id="invia">
                            Invia
                        </button>
                        <script>
                            var inputField = $("#myTextarea");
                            var defaultPlaceholder = "Inserire la tua scelta";

                            inputField.on("input", function () {
                                if (inputField.val().trim() === "") {
                                    inputField.attr("placeholder", defaultPlaceholder);
                                } else {
                                    inputField.removeAttr("placeholder");
                                }
                            });

                            $("#invia").on("click", function () {
                                var choice = inputField.val().trim();
                                var idMenu = @ViewModel.Menu.Id;
                                var idUser = @ViewModel._userHttpService.GetById(LoggedUser.Id);
                                $.ajax({
                                    type: "POST",
                                    url: "Menu/addChoice",
                                    data: { "choice": choice, "idUser": , "idMenu": idMenu },
                                })
                            })
                        </script>
                    }
                    else
                    {
                        <input type="text" class="form-control overflow-hidden bd-darkorange choice-input"
                               placeholder="Inserire la tua scelta" id="myTextarea" maxlength="64">
                        <button class="btn btn-primary bg-darkorange bd-darkorange btn-invia mt-4" id="invia">
                            Invia
                        </button>
                    }
                }
                <p id="risposta"></p>
            </div>
        </div>
    </div>
</main>


