@{

    ViewData["Title"] = "Rumorosità";

}

@using System.Net
@using prenotazione_postazioni_libs.Models;
@using prenotazione_postazioni_libs.Dto;
@using prenotazione_postazioni_mvc.HttpServices;
@using Newtonsoft.Json;
@inject UtenteHttpService _utenteHttpService
@inject VotoHttpService _votoHttpService

@inject IHttpContextAccessor HttpContextAccessor

    <style>
        .icon-img {
            width: 40%;
        }
    </style>    

<div class="vote_container">
        <div class="vote_list">
@{
    
    Utente LoggedUser = JsonConvert.DeserializeObject<Utente>(HttpContextAccessor.HttpContext.Session.GetString("_User"));


    HttpResponseMessage? getAllUtentiResult = await _utenteHttpService.OnGetAllUtenti(); 
    HttpResponseMessage? getAllVotiResult = await _votoHttpService.OnGetVotiFromUtente(LoggedUser.IdUtente); 
    List<Utente>? utenti = null;
    List<Voto>? voti = null;
  
    if(getAllUtentiResult != null && getAllUtentiResult.StatusCode == HttpStatusCode.OK && getAllVotiResult.StatusCode == HttpStatusCode.OK)
    {
        utenti = await getAllUtentiResult.Content.ReadFromJsonAsync<List<Utente>?>();
        voti = await getAllVotiResult.Content.ReadFromJsonAsync<List<Voto>?>();

        for(int i = 0; i < utenti.Count; i++)
        {
            if (utenti[i].IdUtente != LoggedUser.IdUtente)
            {
                string fullName = utenti[i].Nome + " " + utenti[i].Cognome;
                string rumorosita = "rumorosita" + (i + 1);
                string rumoroso = "rumoroso" + (i + 1);
                string non_rumoroso = "non_rumoroso" + (i + 1);
                int voto = 0;

                for (int j = 0; j < voti.Count; j++)
                {
                    if (voti[j].IdUtenteVotato == utenti[i].IdUtente)
                    {
                        voto = voti[j].VotoEffettuato == true ? 1 : -1;
                    }
                }
                <div class="vote_row">
                    <div class="vote_row_header">
                     <img src="img/user_icon.png" alt="user_icon">
                     @{
                        if(voto >= 0.3){
                            <div class="status_good"></div>
                        }if(voto >= 0.6){
                            <div class="status_medium"></div>
                        }else{
                            <div class="status_bad"></div>
                        }
                     }
                        
                    <div class="vote_row_name">@fullName</div>
                </div>
                    <div class="vote_checkboxes">
                        <div class="vote_checkbox_item">
                            <input type="checkbox" name="@rumorosita" id="@rumoroso" alt=@($"{utenti[i].IdUtente}") value="rumoroso" @(voto == 1 ? "checked='checked'" : "")>
                            <label for="@rumoroso">Rumoroso</label>
                        </div>
                        <div class="vote_checkbox_item">
                            <input type="checkbox" name="@rumorosita" id="@non_rumoroso" alt=@($"{utenti[i].IdUtente}") value="non_rumoroso" @(voto == -1 ? "checked='checked'" : "")>
                            <label for="@non_rumoroso">Non rumoroso</label>
                        </div>
                    </div>
                </div>
            }
            
        }
    }
}
</div>
        <div class="status_legend">
            <div class="status_head">
                <h1>Legenda</h1>
                <span class="divider"></span>
            </div>
            
            <div class="status_item">
                <div class="status_good"></div>
                <h2>Poco rumoroso</h2>
            </div>
            
            <div class="status_item">
                <div class="status_medium"></div>
                <h2>Medio</h2>
            </div>
            
            <div class="status_item">
                <div class="status_bad"></div>
                <h2>Rumoroso</h2>
            </div>
        </div>
 </div>

<script src="js/vote.js"></script>

<script>
    // Abilita la deselezione
     $("input:checkbox").on('click', function() {
          var $box = $(this);
          if ($box.is(":checked")) {
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            $(group).prop("checked", false);
            $box.prop("checked", true);
          } else {
            $box.prop("checked", false);
          }
    });

    // Gestione voti
    $("input:checkbox").on('click', function() {
        var $box = $(this);
        var i = parseInt($box.attr("id").charAt($box.attr("id").length - 1)) - 1;
        let idUtenteVotato = parseInt($box.attr("alt"));

        if ($box.is(":checked")) {
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            $(group).prop("checked", false);
            $box.prop("checked", true);

            //se l'utente è stato votato come non rumoroso
            if ($box.attr("id").includes("non_rumoroso")) {
                $.ajax({
                    type: "POST",
                    url: "Votazioni/VoteUser",
                    data: { "voto": -1, "idUtente": @LoggedUser.IdUtente , "idUtenteVotato": $box.attr("alt") }
                });
            //se l'utente è stato votato come rumoroso
            } else {
                $.ajax({
                    type: "POST",
                    url: "Votazioni/VoteUser",
                    data: { "voto": 1, "idUtente": @LoggedUser.IdUtente , "idUtenteVotato": $box.attr("alt") }
                });
            }
        //se il voto è stato tolto (neutrale)
        } else {
            $box.prop("checked", false);
            $.ajax({
                type: "POST",
                url: "Votazioni/VoteUser",
                data: { "voto": 0, "idUtente": @LoggedUser.IdUtente , "idUtenteVotato": $box.attr("alt") }
            }).done(function() {
                      
            });
        }
    });
        
</script>
