@{

    ViewData["Title"] = "Rumorosità";

}

@using System.Net
@using prenotazione_postazioni_libs.Models;
@using prenotazione_postazioni_libs.Dto;
@using prenotazione_postazioni_mvc.HttpServices;
@using Newtonsoft.Json;
@inject UtenteHttpService _utenteHttpService

    <style>
        .icon-img {
            width: 40%;
        }
    </style>    

@{
    HttpResponseMessage? getAllUtentiResult = await _utenteHttpService.OnGetAllUtenti();
    List<Utente>? utenti = null;
    if(getAllUtentiResult != null && getAllUtentiResult.StatusCode == HttpStatusCode.OK)
    {
        utenti = await getAllUtentiResult.Content.ReadFromJsonAsync<List<Utente>?>();
       
        for(int i = 0; i < utenti.Count; i++)
        {
            string fullName = utenti[i].Nome + " " + utenti[i].Cognome;
            string rumorosita = "rumorosita" + (i+1);
            string rumoroso = "rumoroso" + (i+1);
            string non_rumoroso = "non_rumoroso" + (i+1);

            <div class="container-fluid mt-4">
            <div class="p-3 border bg-light"><div class="row">
                <div class="col-sm-1 ml-3 align-self-center"><img class="item icon-img" src="img/user_icon.png" alt="user_icon"></div>
                <div class="col-sm-8 align-self-center">@fullName</div>
                <div class="col-sm-1 align-self-center"><input type="checkbox" name="@rumorosita" id="@rumoroso" value="rumoroso"><label for="@rumoroso">Rumoroso</label></div>
                <div class="col align-self-center"><input type="checkbox" name="@rumorosita" id="@non_rumoroso" value="non_rumoroso"><label for="@non_rumoroso">Non rumoroso</label></div>
            </div></div>
        </div>
        }
    }
</style>    

    /*utenti.Add(new Utente(1, "giuseppe", "rossi", null, "giusepperossi@gmail.com", 1));
    utenti.Add(new Utente(2, "filippo", "strozzi", null, "filippostrozzi@gmail.com", 2));
    utenti.Add(new Utente(3, "arnaldo", "ficoni", null, "arnaldoficoni@gmail.com", 1));
    utenti.Add(new Utente(4, "anna", "giallini", null, "annagiallini@gmail.com", 1));*/



    
}

<!--Esempi utenti-->

    <!--<div class="container-fluid mt-4">
        <div class="p-3 border bg-light"><div class="row">
            <div class="col-sm-1 ml-3 align-self-center"><img class="item icon-img" src="img/user_icon.png" alt="user_icon"></div>
            <div class="col-sm-8 align-self-center">Persona 1</div>
            <div class="col-sm-1 align-self-center"><input type="checkbox" name="rumorosita1" id="rumoroso1" value="rumoroso"><label for="rumoroso1">Rumoroso</label></div>
            <div class="col align-self-center"><input type="checkbox" name="rumorosita1" id="non_rumoroso1" value="non_rumoroso"><label for="non_rumoroso1">Non rumoroso</label></div>
        </div>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="p-3 border bg-light">
        <div class="row">
            <div class="col-sm-1 ml-3 align-self-center"><img class="item icon-img" src="img/user_icon.png" alt="user_icon"></div>
            <div class="col-sm-8 align-self-center">Persona 2</div>
            <div class="col-sm-1 align-self-center"><input type="checkbox" name="rumorosita2" id="rumoroso2" value="rumoroso"><label for="rumoroso2">Rumoroso</label></div>
            <div class="col align-self-center"><input type="checkbox" name="rumorosita2" id="non_rumoroso2" value="non_rumoroso"><label for="non_rumoroso2">Non rumoroso</label></div>
        </div>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="p-3 border bg-light">
        <div class="row">
            <div class="col-sm-1 ml-3 align-self-center"><img class="item icon-img" src="img/user_icon.png" alt="user_icon"></div>
            <div class="col-sm-8 align-self-center">Persona 3</div>
            <div class="col-sm-1 align-self-center"><input type="checkbox" name="rumorosita3" id="rumoroso3" value="rumoroso"><label for="rumoroso3">Rumoroso</label></div>
            <div class="col align-self-center"><input type="checkbox" name="rumorosita3" id="non_rumoroso3" value="non_rumoroso"><label for="non_rumoroso3">Non rumoroso</label></div>
        </div>
    </div>
</div>
<div class="container-fluid mt-4">
    <div class="p-3 border bg-light">
        <div class="row">
            <div class="col-sm-1 ml-3 align-self-center"><img class="item icon-img" src="img/user_icon.png" alt="user_icon"></div>
            <div class="col-sm-8 align-self-center">Persona 4</div>
            <div class="col-sm-1 align-self-center"><input type="checkbox" name="rumorosita4" id="rumoroso4" value="rumoroso"><label for="rumoroso4">Rumoroso</label></div>
            <div class="col align-self-center"><input type="checkbox" name="rumorosita4" id="non_rumoroso4" value="non_rumoroso"><label for="non_rumoroso4">Non rumoroso</label></div>
        </div>
    </div>
</div>

<script src="js/vote.js"></script>

<script>
     $("input:checkbox").on('click', function() {
          // in the handler, 'this' refers to the box clicked on
          var $box = $(this);
          if ($box.is(":checked")) {
            // the name of the box is retrieved using the .attr() method
            // as it is assumed and expected to be immutable
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            // the checked state of the group/box on the other hand will change
            // and the current value is retrieved using .prop() method
            $(group).prop("checked", false);
            $box.prop("checked", true);
          } else {
            $box.prop("checked", false);
          }
    });
</script>
    <script>

        ///script che rende una sola checkbox attivabile in un gruppo
        ///+ invio richiesta post
         $("input:checkbox").on('click', function() {
              // in the handler, 'this' refers to the box clicked on
              var $box = $(this);
              var i = parseInt($box.attr("id").charAt($box.attr("id").length - 1)) - 1;
              if ($box.is(":checked")) {
                // the name of the box is retrieved using the .attr() method
                // as it is assumed and expected to be immutable
                var group = "input:checkbox[name='" + $box.attr("name") + "']";
                // the checked state of the group/box on the other hand will change
                // and the current value is retrieved using .prop() method
                $(group).prop("checked", false);
                $box.prop("checked", true);

                ///se l'utente è stato votato come non rumoroso
                  if ($box.attr("id").includes("non_rumoroso")) {
                      $.ajax({
                          type: "POST",
                          url: "Votazioni/VoteUser",
                          data: { "voto": -1, "i": i }
                      })
                  ///se l'utente è stato votato come rumoroso
                  } else {
                      $.ajax({
                          type: "POST",
                          url: "Votazioni/VoteUser",
                          data: { "voto": 1, "i": i }
                      })
                  }
                  ///se il voto è stato tolto (è neutro)
              } else {
                  $box.prop("checked", false);
                  $.ajax({
                      type: "POST",
                      url: "Votazioni/VoteUser",
                      data: { "voto": 0, "i": i }
                  }).done(function() {
                      
                  });
              }
        });
        
    </script>